<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title> Conheça a Amazônia </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-img src="assets/images/euamoamazonia.png"></ion-img>
      <ion-card-title>Eu 💚 Amazônia</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="ion-text-justify">
        Floresta Amazônica representa um terço das florestas tropicais do mundo,
        além de conter mais da metade da biodiversidade do planeta.A região
        Amazônica concentra 20% da água doce do planeta. A manutenção de
        florestas nas margens de rios evita erosões, assoreamentos e garante
        alimento para vários organismos aquáticos.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Amazônia Brasileira</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item href="http://www.amazonastur.am.gov.br/" target="_blank">
        <ion-icon name="camera-outline" slot="start"></ion-icon>
        <ion-label>Amazonas</ion-label>
      </ion-item>
      <ion-item href="http://www.setur.pa.gov.br/" target="_blank">
        <ion-icon name="boat-outline" slot="start"></ion-icon>
        <ion-label>Pará</ion-label>
      </ion-item>
      <ion-item href="http://www.turismo.rr.gov.br/" target="_blank">
        <ion-icon name="flower-outline" slot="start"></ion-icon>
        <ion-label>Roraima</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
