<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title> Culinária </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item [routerLink]="['/acai']">
      <ion-thumbnail slot="start">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmeUTZYqUqf9AZAhNGe9gRG5VtfP2i2aingYP5p8_8Ex4zvF16bIVdr6_S3437slCXxsw&usqp=CAU"
        />
      </ion-thumbnail>
      <ion-label>
        <ion-text color="tertiary">
          <h2>Açaí Paraense</h2>
        </ion-text>
        <ion-badge color="danger" slot="end">Pará</ion-badge>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
